<div class="container" ng-show="showEditingForm">
    <form id="myformVars0" class="form-horizontal">
        <fieldset ng-disabled="!enableEditingForm">		

            <h3> I. WAG INFORMATION</h3>

            <div class="controls col-md-12">
                <my-form-label title="1. Point of Contact" />
                <div class="col-md-10">
                    <input id="_PointContact" class="form-control" ng-model="formVars._PointContact">
                </div>
            </div>

            <div class="controls col-md-12">
                <my-form-label title="2. Request Date" />
                <div class="controls col-md-3">
                    <input id="_RequestDate" class="form-control" ng-model="formVars._RequestDate">
                </div>
            </div>

            <div class="controls col-md-12">
                <my-form-label title="3. Office Telephone Number" />
                <div class="controls col-md-10">
                    <input id="_TelephoneNumber" class="form-control" ng-model="formVars._TelephoneNumber">
                </div>
            </div>
            <div class="col-md-12">
                <my-form-label title="4. Outside Organization Sponsoring the Event (full name and City, State or Country)" />
                <div class="controls col-md-10">
                    <input id="_CSCountry" class="form-control" ng-model="formVars._CSCountry">
                </div>
            </div>

            <div class="col-md-12">
                <my-form-label title="5. Full Name of the Event" />
                <div class="controls col-md-10">
                    <input id="_Fullname" class="form-control" ng-model="formVars._Fullname">
                </div>
            </div>

            <div class="col-md-12">
                <my-form-label title="6. Location of Event (City, State or Country)" />
                <div class="controls col-md-10">
                    <input id="_LocationEvent" class="form-control" ng-model="formVars._LocationEvent">
                </div>
            </div>

            <div class="col-md-12">
					<my-form-label title="7. Date of Event" />
					<div class="controls col-md-5">

                    <input id="_DateEvent" class="form-control" ng-model="formVars._DateEvent">
                </div>
			</div>
			<div class="col-md-12">
					<my-form-label title="8. Time of Event (include a.m. or p.m.)" />			
                <div class="controls col-md-5">

                    <input id="_TimeEvent" class="form-control" ng-model="formVars._TimeEvent">
                </div>				
            </div>			
			
			
            <div class="col-md-12">
                <my-form-label title="9. Is the employee assigned on official duty to participate as a speaker, panel member or otherwise to present information on behalf of ONC at a conference or similar engagement?" />
                <div class="controls col-md-10 form-inline">
                    <label class="control-label" for="_CheckBox1" >Yes</label>
                    <input id="_CheckBox1" class="" ng-model="formVars._CheckBox1" type="checkbox">
                    <label class="control-label" for="_CheckBox1">No</label>
                    <input id="_CheckBox2" class="" ng-model="formVars._CheckBox2" type="checkbox">
					<my-line/>
									<p>If yes, attendance on the day(s) of the employee’s actual presentation is a customary and necessary part
of his/her performance of the assignment and does not involve a gift to the individual or ONC. No further
action is necessary. If no, then proceed to question #10.</p>
                </div>

            </div>
            <div class="col-md-12">
                <my-form-label title="10. Who invited you to attend, the event sponsor or someone else?" />
                <div class="controls col-md-10 form-inline">
                    <label class="control-label" for="_CheckBox3" >The event sponsor</label>
                    <input id="_CheckBox3" class="" ng-model="formVars._CheckBox3" type="checkbox">
                    <br/><label class="control-label" for="_CheckBox4">Someone other than the event sponsor</label>
                    <input id="_CheckBox4" class="" ng-model="formVars._CheckBox4" type="checkbox">
					<my-line/>
					                <p>If invited by a non-sponsor at least 100 persons must attend and the gift of free attendance must have a
market value of $350 (total self and guest) or less to meet the definition of a widely attended gathering
(WAG). (See the Financial Disclosure note regarding changes to the reporting threshold.)</p>
                </div>


            </div>

            <div class="col-md-12">
                <my-form-label title="11. Did you solicit the invitation?" />
                <div class="controls col-md-10 form-inline">
                    <label class="control-label" for="_CheckBox5">Yes</label>
                    <input id="_CheckBox5" class="" ng-model="formVars._CheckBox5" type="checkbox">
                    <label class="control-label" for="_CheckBox6">No</label>
                    <input id="_CheckBox6" class="" ng-model="formVars._CheckBox6" type="checkbox">
					<my-line/>
					<ul>
					<li>If Yes, the invitation may not be accepted.
					<li>If No, proceed to Question 12.
					</ul>
                </div>
				
            </div>


            <div class="col-md-12">
                <my-form-label title="12. What is the purpose of the event (e.g., reception honoring someone, event not directly related to a conference you are attending)?" />
                <div class="controls col-md-10">
                    <textarea id="_NameConf" class="form-control" ng-model="formVars._NameConf"></textarea>
                </div>
            </div>
			
            <div class="col-md-12">
                <my-form-label title="13. Who else will attend (e.g., other Government employees, industry, public, scientists, etc.)?" />
                <div class="controls col-md-10">
                    <textarea id="_WhoElse" class="form-control" ng-model="formVars._WhoElse"></textarea>
                </div>
            </div>			
			
			
            <div class="col-md-12">
                <my-form-label title="14. Is the event open to individuals from throughout a given industry (e.g., the healthcare industry)?" />
                <div class="controls col-md-10 form-inline">
                    <label class="control-label" for="_CheckBox7">Yes</label>
                    <input id="_CheckBox7" class="" ng-model="formVars._CheckBox7" type="checkbox">
                    <label class="control-label" for="_CheckBox8">No</label>
                    <input id="_CheckBox8" class="" ng-model="formVars._CheckBox8" type="checkbox">
					
                </div>
				<my-line/>
                <div class="controls col-md-10">
				<p>If Yes, please provide a brief description including the different interests and points of view they may represent.
				</p>
                    <textarea id="_represent" class="form-control" ng-model="formVars._represent"></textarea>
                </div>				
            </div>

			
            <div class="col-md-12">
                <my-form-label title="15. Will individuals in attendance represent a range of persons interested in a given matter (e.g., federal, state, or local officials; health care practitioners; pharmaceutical industry representatives)?" />
                <div class="controls col-md-10 form-inline">
                    <label class="control-label" for="_CheckBox9">Yes</label>
                    <input id="_CheckBox9" class="" ng-model="formVars._CheckBox9" type="checkbox">
                    <label class="control-label" for="_CheckBox10">No</label>
                    <input id="_CheckBox10" class="" ng-model="formVars._CheckBox10" type="checkbox">
                </div>
				<my-line/>
				<div class="controls col-md-10">
				<p>If Yes, please provide a brief description of likely attendees.</p>
                    <textarea id="_IfYes" class="form-control" ng-model="formVars._IfYes"></textarea>
                </div>
            </div>

			
            <div class="col-md-12">
                <my-form-label title="16. How many people are expected to attend? " />
                <div class="controls col-md-2">
                    <input id="_HowMany" class="form-control" ng-model="formVars._HowMany">
                </div>
            </div>						
			

            <div class="col-md-12">
                <my-form-label title="17. Accompanying spouse or other guest." />
                <div class="controls col-md-12">                     
					<div class="controls col-md-12 form-inline">
						a. Does the invitation include attendance by your spouse or other guest?
						<label class="control-label" for="_CheckBox11">Yes</label>
						<input id="_CheckBox11" class="" ng-model="formVars._CheckBox11" type="checkbox">
						<label class="control-label" for="_CheckBox12">No</label>
						<input id="_CheckBox12" class="" ng-model="formVars._CheckBox12" type="checkbox">
					</div>
                </div>
                <div class="controls col-md-12">
					<div class="controls col-md-12 form-inline">
						b. Will other attendees generally be accompanied by their spouse or other guest?
						<label class="control-label" for="_CheckBox13">Yes</label>
						<input id="_CheckBox13" class="" ng-model="formVars._CheckBox13" type="checkbox">
						<label class="control-label" for="_CheckBox14">No</label>
						<input id="_CheckBox14" class="" ng-model="formVars._CheckBox14" type="checkbox">
					</div>
                </div>
				<div class="controls col-md-12">
					<div class="controls col-md-12 form-inline">
						c. Will a guest accompany you?
						<label class="control-label" for="_CheckBox15">Yes</label>
						<input id="_CheckBox15" class="" ng-model="formVars._CheckBox15" type="checkbox">
						<label class="control-label" for="_CheckBox16">No</label>
						<input id="_CheckBox16" class="" ng-model="formVars._CheckBox16" type="checkbox">
					</div>
                </div>
                <div class="controls col-md-12">
					<div class="controls col-md-12 form-inline">
						d. Does your guest work for DHHS?
						<label class="control-label" for="_CheckBox17">Yes</label>
						<input id="_CheckBox17" class="" ng-model="formVars._CheckBox17" type="checkbox">
						<label class="control-label" for="_CheckBox18">No</label>
						<input id="_CheckBox18" class="" ng-model="formVars._CheckBox18" type="checkbox">
						<label class="control-label" for="_CheckBox30">Not Applicable</label>
						<input id="_CheckBox30" class="" ng-model="formVars._CheckBox30" type="checkbox">
						<label class="control-label" for="_Ifyes2">If Yes, which component?</label>
						<input id="_Ifyes2" class="form-control" ng-model="formVars._Ifyes2">
					</div>
                </div>
				
            </div>		

            <div class="col-md-12">
                <my-form-label title="18. What is the value of the gift of free attendance (value of dinner or reception, face value of a ticket, etc.)? (Include value of guest’s gift if a guest is invited and will attend.)" />
                <div class="controls col-md-2">
                    <input id="_WhatValue" class="form-control" ng-model="formVars._WhatValue">
                </div>
            </div>						
						
            <div class="col-md-12">
                <my-form-label title="19. Who provided the information about the event with regard to the value of the gift of free attendance (e.g., information on the invitation; someone from the sponsoring organization)?" />
				<div class="controls col-md-10">
                    <textarea id="_organizationinfo" class="form-control" ng-model="formVars._organizationinfo"></textarea>
                </div>
            </div>			
            <div class="col-md-12">
                <my-form-label title="20. Explain how your attendance will further agency programs (e.g., networking, information sharing, etc.)." />
				<div class="controls col-md-10">
                    <textarea id="_etc" class="form-control" ng-model="formVars._etc"></textarea>
                </div>
            </div>	
            <div class="col-md-12">
				<my-form-label title="21." />
                <div class="col-md-12">
						<div class="controls col-md-10 form-inline">
						a. Can your performance or non-performance of your official responsibilities have any effect on the sponsor? 
							<label class="control-label" for="_CheckBox26">Yes</label>
							<input id="_CheckBox26" class="" ng-model="formVars._CheckBox26" type="checkbox">
							<label class="control-label" for="_CheckBox27">No</label>
							<input id="_CheckBox27" class="" ng-model="formVars._CheckBox27" type="checkbox">							
						</div>
						<div class="controls col-md-10 form-inline">
						b. If the sponsor is an organization, does the majority of its members have such interests that
could be affected by the performance or non-performance of your official duties? 
							<label class="control-label" for="_CheckBox28">Yes</label>
							<input id="_CheckBox28" class="" ng-model="formVars._CheckBox28" type="checkbox">
							<label class="control-label" for="_CheckBox29">No</label>
							<input id="_CheckBox29" class="" ng-model="formVars._CheckBox29" type="checkbox">							
						</div>		
						<div class="controls col-md-10 form-inline">
						c. Yes to either a or b: If YES to either question, answer the next 2 questions. 
							<input id="_CheckBox24" class="" ng-model="formVars._CheckBox24" type="checkbox">						
						</div>	
						<div class="controls col-md-10 form-inline">
						d. No to both a and b: If NO to both questions, attach the invitation, and continue at #24. 
							<input id="_CheckBox25" class="" ng-model="formVars._CheckBox25" type="checkbox">						
						</div>							
				</div>
            </div>
            <div class="col-md-12">
                <my-form-label title="22. If the answer to #21a or #21b is YES, explain the nature and sensitivity of any pending official matter(s) affecting the interests of the event sponsor or the majority of its members. How would the inviting entity be affected by something you do in your official capacity?" />
				<div class="controls col-md-10">
                    <textarea id="_Youroficial" class="form-control" ng-model="formVars._Youroficial"></textarea>
                </div>
            </div>				
            <div class="col-md-12">
                <my-form-label title="23. If #21a or #21b is YES, describe your role, if any, in the matter described above" />
				<div class="controls col-md-10">
                    <textarea id="_ifyesthen" class="form-control" ng-model="formVars._ifyesthen"></textarea>
                </div>
            </div>				

		<my-line/>
		<h3> II. PEOPLE COVERED by this REQUEST (please include yourself here if you are planning to attend.)</h3>
		<div class="col-md-10" style="margin-bottom: 40px">
			 <table class="table" >
				<tr>
				<th>
				Name
				</th>
				<th>
				Email
				</th>
				<th>
				Office Phone
				</th>
				<th>
				Supervisor Name
				</th>				
				<th>
				Supervisor Email
				</th>
				</tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName1"> </td>
				  <td><input class="form-control" ng-model="formVars.email1"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone1"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName1"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail1"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName2"> </td>
				  <td><input class="form-control" ng-model="formVars.email2"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone2"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName2"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail2"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName3"> </td>
				  <td><input class="form-control" ng-model="formVars.email3"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone3"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName3"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail3"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName4"> </td>
				  <td><input class="form-control" ng-model="formVars.email4"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone4"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName4"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail4"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName5"> </td>
				  <td><input class="form-control" ng-model="formVars.email5"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone5"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName5"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail5"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName6"> </td>
				  <td><input class="form-control" ng-model="formVars.email6"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone6"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName6"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail6"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName7"> </td>
				  <td><input class="form-control" ng-model="formVars.email7"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone7"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName7"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail7"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName8"> </td>
				  <td><input class="form-control" ng-model="formVars.email8"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone8"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName8"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail8"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName9"> </td>
				  <td><input class="form-control" ng-model="formVars.email9"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone9"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName9"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail9"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName10"> </td>
				  <td><input class="form-control" ng-model="formVars.email10"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone10"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName10"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail10"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName11"> </td>
				  <td><input class="form-control" ng-model="formVars.email11"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone11"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName11"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail11"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName12"> </td>
				  <td><input class="form-control" ng-model="formVars.email12"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone12"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName12"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail12"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName13"> </td>
				  <td><input class="form-control" ng-model="formVars.email13"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone13"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName13"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail13"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName14"> </td>
				  <td><input class="form-control" ng-model="formVars.email14"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone14"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName14"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail14"> </td>
			   </tr>
			   <tr>			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName15"> </td>
				  <td><input class="form-control" ng-model="formVars.email15"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone15"> </td>
				  <td><input class="form-control" ng-model="formVars._SupervisorsName15"> </td>
				  <td><input class="form-control" ng-model="formVars.managerEmail15"> </td>
			   </tr>

			 </table>  
		</div>
        <my-line/>
        <div class="col-md-12" ng-show="enableEditingForm">
            <div class="pull-right col-md-6">
                <button class="btn btn-success" ng-click="doSave($event)">Save Form</button>
                <button class="btn btn-success" ng-click="doPDF($event)">View PDF</button>
				<button class="btn btn-success" ng-click="doCertify($event)">Submit Form</button>
            </div>
        </div>		
		</fieldset>
    </form>
</div>


<div class="container" ng-show="showEthicsForm">
    <form id="myformVars6" class="form-horizontal">
        <fieldset ng-disabled="!enableEthicsForm">

            <h3> III. ETHICS COORDINATOR REVIEW</h3>

            <div class="controls col-md-12">
                <my-form-label title="24. ETHICS COORDINATOR RECOMMENDATION AND SIGNATURE " />
                <div class="col-md-10">
					Based on my review of the foregoing statements and supporting documentation in light of the
requirements of 5 C.F.R. § 2635.204(g), I:
						<div class="controls col-md-12 form-inline">
							<label class="control-label" for="_CheckBox31">Recommend Approval</label>
							<input id="_CheckBox31" class="" ng-model="formVars._CheckBox31" type="checkbox">
							<br/><label class="control-label" for="_CheckBox32">Recommend Approval with the Following Conditions(s):</label>
							<input id="_CheckBox32" class="" ng-model="formVars._CheckBox32" type="checkbox">							
							<br/><label class="control-label" for="_CheckBox33">Do Not Recommend Approval</label>
							<input id="_CheckBox33" class="" ng-model="formVars._CheckBox33" type="checkbox">	
						</div>	
                </div>
				<div class="controls col-md-4">
					<label class="control-label" for="_EthicsSig">ETHICS COORDINATOR SIGNATURE</label>
                    <input id="_EthicsSig" class="form-control" ng-model="formVars._EthicsSig" placeholder="Please enter your name here"/>
                </div>				
				<div class="controls col-md-4">
					<label class="control-label" for="ethicssignature">ETHICS COORDINATOR CERTIFY</label>
                    <input id="ethicssignature" class="form-control" ng-model="formVars.ethicssignature" placeholder="Please enter your email address here"/>
                </div>
				<div class="controls col-md-4">
					<label class="control-label" for="_EthicsDate">SIGNATURE DATE</label>
                    <input id="_EthicsDate" class="form-control" ng-model="formVars._EthicsDate" placeholder="MM/dd/yyyy"/>
                </div>
			</div>
			
			<my-line/>
			<div class="col-md-12" ng-show="enableEthicsForm">
				<div class="pull-right col-md-7">
					<button class="btn btn-success" ng-click="doSave($event)">Save Form</button>
					<button class="btn btn-success" ng-click="doPDF($event)">View PDF</button>	
					<button class="btn btn-success" ng-click="doEthicsCertify($event)">Certify  and Submit</button>
				</div>
			</div>	
		</fieldset>
	</form>
</div>

<div class="container" ng-show="showDesigneeForm">
    <form id="myformVars8" class="form-horizontal">
        <fieldset ng-disabled="!enableDesigneeForm">

            <h3> IV. DESIGNEE REVIEW</h3>

            <div class="controls col-md-12">
                <my-form-label title="25. DEPUTY ETHIC COUNSELOR (OR DESIGNEE) DECISION AND SIGNATURE" />
                <div class="col-md-10">
					Based on my review of the foregoing statements and supporting documentation supplied by the applicant,
this constitutes my determination, as required by 5 C.F.R. § 2635.204(g), that the employee’s request is:
						<div class="controls col-md-12 form-inline">
							<label class="control-label" for="_CheckBox34">Approved as Requested</label>
							<input id="_CheckBox34" class="" ng-model="formVars._CheckBox34" type="checkbox">
							<br/><label class="control-label" for="_CheckBox35">Approved with the Following Conditions(s):</label>
							<input id="_CheckBox35" class="" ng-model="formVars._CheckBox35" type="checkbox">							
							<br/><label class="control-label" for="_CheckBox36">Disapproved</label>
							<input id="_CheckBox36" class="" ng-model="formVars._CheckBox36" type="checkbox">	
							<br/>
						</div>	
						<div class="controls col-md-10>
						<label class="control-label" for="_Condition">Condition(s)</label>
						<textarea id="_Condition" class="form-control" ng-model="formVars._Condition"></textarea>	
						</div>
                </div>
				<div class="controls col-md-4">
					<label class="control-label" for="_DeputySig">DESIGNEE SIGNATURE</label>
                    <input id="_DeputySig" class="form-control" ng-model="formVars._DeputySig" placeholder="Please enter your name here"/>
                </div>				
				<div class="controls col-md-4">
					<label class="control-label" for="designeesignature">DESIGNEE CERTIFY</label>
                    <input id="designeesignature" class="form-control" ng-model="formVars.designeesignature" placeholder="Please enter your email address here"/>
                </div>
				<div class="controls col-md-4">
					<label class="control-label" for="_DeputyDate">SIGNATURE DATE</label>
                    <input id="_DeputyDate" class="form-control" ng-model="formVars._DeputyDate" placeholder="MM/dd/yyyy"/>
                </div>
			</div>
			
			
			<my-line/>
			<div class="col-md-12" ng-show="enableDesigneeForm">
	            <div class="pull-right col-md-7">
					<button class="btn btn-success" ng-click="doSave($event)">Save Form</button>
					<button class="btn btn-success" ng-click="doPDF($event)">View PDF</button>	
					<button class="btn btn-success" ng-click="doDesigneeCertify($event)">Certify and Submit</button>
				</div>
			</div>	
		</fieldset>
	</form>
</div>

<div class="container" ng-show="showEmployeeForm">
    <form id="myformVars8" class="form-horizontal">
        <fieldset ng-disabled="!enableEmployeeForm">

            <h3>V. EMPLOYEE SIGNATURE</h3>

            <div class="controls col-md-12">
				<div class="controls col-md-4">
					<label class="control-label" for="employeesign">EMPLOYEE SIGNATURE</label>
                    <input id="employeesign" class="form-control" ng-model="formVars.employeesign" placeholder="Please enter your name here"/>
                </div>				
				<div class="controls col-md-4">
					<label class="control-label" for="employeesignature">EMPLOYEE CERTIFY</label>
                    <input id="employeesignature" class="form-control" ng-model="formVars.employeesignature" placeholder="Please enter your email address here"/>
                </div>
				<div class="controls col-md-4">
					<label class="control-label" for="employeesignDate">SIGNATURE DATE</label>
                    <input id="employeesignDate" class="form-control" ng-model="formVars.employeesignDate" placeholder="MM/dd/yyyy"/>
                </div>
			</div>
			
			<my-line/>
			<div class="col-md-12" ng-show="enableEmployeeForm">
	            <div class="pull-right col-md-7">
					<button class="btn btn-success" ng-click="doSave($event)">Save Form</button>
					<button class="btn btn-success" ng-click="doPDF($event)">View PDF</button>	
					<button class="btn btn-success" ng-click="doEmployeeCertify($event)">Certify and Submit</button>
				</div>
			</div>	
		</fieldset>
	</form>
</div>

<div class="container" ng-show="showManagerForm">
    <form id="myformVars8" class="form-horizontal">
        <fieldset ng-disabled="!enableManagerForm">

            <h3>VI. SUPERVISOR APPROVAL</h3>
			
			Following employee need your approval for attech this WAG event:
			<table class="table" >
				<tr>
				<th>
				Name
				</th>
				<th>
				Email
				</th>
				<th>
				Office Phone
				</th>
				<th>
				Date Signed
				</th>
				</tr>
			   <tr ng-show="email==formVars.managerEmail1">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName1"> </td>
				  <td><input class="form-control" ng-model="formVars.email1"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone1"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature1"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail2">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName2"> </td>
				  <td><input class="form-control" ng-model="formVars.email2"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone2"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature2"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail3">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName3"> </td>
				  <td><input class="form-control" ng-model="formVars.email3"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone3"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature3"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail4">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName4"> </td>
				  <td><input class="form-control" ng-model="formVars.email4"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone4"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature4"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail5">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName5"> </td>
				  <td><input class="form-control" ng-model="formVars.email5"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone5"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature5"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail6">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName6"> </td>
				  <td><input class="form-control" ng-model="formVars.email6"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone6"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature6"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail7">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName7"> </td>
				  <td><input class="form-control" ng-model="formVars.email7"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone7"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature7"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail8">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName8"> </td>
				  <td><input class="form-control" ng-model="formVars.email8"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone8"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature8"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail9">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName9"> </td>
				  <td><input class="form-control" ng-model="formVars.email9"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone9"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature9"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail10">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName10"> </td>
				  <td><input class="form-control" ng-model="formVars.email10"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone10"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature10"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail11">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName11"> </td>
				  <td><input class="form-control" ng-model="formVars.email11"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone11"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature11"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail12">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName12"> </td>
				  <td><input class="form-control" ng-model="formVars.email12"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone12"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature12"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail13">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName13"> </td>
				  <td><input class="form-control" ng-model="formVars.email13"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone13"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature13"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail14">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName14"> </td>
				  <td><input class="form-control" ng-model="formVars.email14"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone14"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature14"> </td>
			   </tr>
			   <tr ng-show="email==formVars.managerEmail15">			  
				  <td><input class="form-control" ng-model="formVars._EmployeesName15"> </td>
				  <td><input class="form-control" ng-model="formVars.email15"> </td>
				  <td><input class="form-control" ng-model="formVars._Telephone15"> </td>
				  
				  <td><input class="form-control" ng-model="formVars._EmployeesSignature15"> </td>
			   </tr>

			 </table>  

            <div class="controls col-md-12">
				<div class="controls col-md-4">
					<label class="control-label" for="managersign">SUPERVISOR SIGNATURE</label>
                    <input id="managersign" class="form-control" ng-model="formVars.managersign" placeholder="Please enter your name here"/>
                </div>				
				<div class="controls col-md-4">
					<label class="control-label" for="managersignature">SUPERVISOR CERTIFY</label>
                    <input id="managersignature" class="form-control" ng-model="formVars.managersignature" placeholder="Please enter your email address here"/>
                </div>
				<div class="controls col-md-4">
					<label class="control-label" for="managersignDate">SIGNATURE DATE</label>
                    <input id="managersignDate" class="form-control" ng-model="formVars.managersignDate" placeholder="MM/dd/yyyy"/>
                </div>
			</div>
			
			<my-line/>
			<div class="col-md-12" ng-show="enableManagerForm">
	            <div class="pull-right col-md-7">
					<button class="btn btn-success" ng-click="doSave($event)">Save Form</button>
					<button class="btn btn-success" ng-click="doPDF($event)">View PDF</button>	
					<button class="btn btn-success" ng-click="doManagerCertify($event)">Certify and Submit</button>
				</div>
			</div>	
		</fieldset>
	</form>
</div>

<div class="container" ng-show="showMSignatureForm">
</div>
<div class="container" ng-show="showPermissionError">
You do not have permission to perform this action. Please contact the system administrator.
</div>