<form class="list_form">
   <div>initialreq<input class="form-control" ng-model="form520.initialreq" type="checkbox"></div>
   <div>revreq<input class="form-control" ng-model="form520.revreq" type="checkbox"></div>
   <div>renewal<input class="form-control" ng-model="form520.renewal" type="checkbox"></div>
   <div>Datefiled<input class="form-control" ng-model="form520.Datefiled" value="1"></div>
   <div>empname<input class="form-control" ng-model="form520.empname" value="2"></div>
   <div>agency<input class="form-control" ng-model="form520.agency" value="3"></div>
   <div>subcomp<input class="form-control" ng-model="form520.subcomp" value="4"></div>
   <div>titleofpos<input class="form-control" ng-model="form520.titleofpos" value="5"></div>
   <div>grade<input class="form-control" ng-model="form520.grade" value="6"></div>
   <div>federal<input class="form-control" ng-model="form520.federal" value="7"></div>
   <div>pas<input class="form-control" ng-model="form520.pas" type="checkbox"></div>
   <div>noncar<input class="form-control" ng-model="form520.noncar" type="checkbox"></div>
   <div>car<input class="form-control" ng-model="form520.car" type="checkbox"></div>
   <div>schc<input class="form-control" ng-model="form520.schc" type="checkbox"></div>
   <div>comm<input class="form-control" ng-model="form520.comm" type="checkbox"></div>
   <div>gs<input class="form-control" ng-model="form520.gs" type="checkbox"></div>
   <div>title<input class="form-control" ng-model="form520.title" value="8"></div>
   <div>other<input class="form-control" ng-model="form520.other" type="checkbox"></div>
   <div>othertext<input class="form-control" ng-model="form520.othertext" value="9"></div>
   <div>public<input class="form-control" ng-model="form520.public" type="checkbox"></div>
   <div>confid<input class="form-control" ng-model="form520.confid" type="checkbox"></div>
   <div>none<input class="form-control" ng-model="form520.none" type="checkbox"></div>
   <div>street<input class="form-control" ng-model="form520.street" value="10"></div>
   <div>city<input class="form-control" ng-model="form520.city" value="11"></div>
   <div>
      offstate
      <select class="form-control" ng-model="form520.offstate">
         <option value="1,  ">1,  </option>
         <option value="2,AL">2,AL</option>
         <option value="3,AK">3,AK</option>
         <option value="4,AZ">4,AZ</option>
         <option value="5,AR">5,AR</option>
         <option value="6,CA">6,CA</option>
         <option value="7,CO">7,CO</option>
         <option value="8,CT">8,CT</option>
         <option value="9,DE">9,DE</option>
         <option value="10,DC">10,DC</option>
         <option value="11,FL">11,FL</option>
         <option value="12,GA">12,GA</option>
         <option value="13,HI">13,HI</option>
         <option value="14,ID">14,ID</option>
         <option value="15,IL">15,IL</option>
         <option value="16,IN">16,IN</option>
         <option value="17,IA">17,IA</option>
         <option value="18,KS">18,KS</option>
         <option value="19,KY">19,KY</option>
         <option value="20,LA">20,LA</option>
         <option value="21,ME">21,ME</option>
         <option value="22,MD">22,MD</option>
         <option value="23,MA">23,MA</option>
         <option value="24,MI">24,MI</option>
         <option value="25,MN">25,MN</option>
         <option value="26,MS">26,MS</option>
         <option value="27,MO">27,MO</option>
         <option value="28,MT">28,MT</option>
         <option value="29,NE">29,NE</option>
         <option value="30,NV">30,NV</option>
         <option value="31,NH">31,NH</option>
         <option value="32,NJ">32,NJ</option>
         <option value="33,NM">33,NM</option>
         <option value="34,NY">34,NY</option>
         <option value="35,NC">35,NC</option>
         <option value="36,ND">36,ND</option>
         <option value="37,OH">37,OH</option>
         <option value="38,OK">38,OK</option>
         <option value="39,OR">39,OR</option>
         <option value="40,PA">40,PA</option>
         <option value="41,RI">41,RI</option>
         <option value="42,SC">42,SC</option>
         <option value="43,SD">43,SD</option>
         <option value="44,TN">44,TN</option>
         <option value="45,TX">45,TX</option>
         <option value="46,UT">46,UT</option>
         <option value="47,VT">47,VT</option>
         <option value="48,VA">48,VA</option>
         <option value="49,WA">49,WA</option>
         <option value="50,WV">50,WV</option>
         <option value="51,WI">51,WI</option>
         <option value="52,WY">52,WY</option>
      </select>
   </div>
   <div>ZipCode<input class="form-control" ng-model="form520.ZipCode" value="12"></div>
   <div>OfficeTelephoneNumber<input class="form-control" ng-model="form520.OfficeTelephoneNumber" value="13"></div>
   <div>OfficeFaxNumber<input class="form-control" ng-model="form520.OfficeFaxNumber" value="14"></div>
   <div>OfficeCellNumber<input class="form-control" ng-model="form520.OfficeCellNumber" value="15"></div>
   <div>email<input class="form-control" ng-model="form520.email" value="16"></div>
   <div>namesuper<input class="form-control" ng-model="form520.namesuper" value="17"></div>
   <div>titleofsuper<input class="form-control" ng-model="form520.titleofsuper" value="18"></div>
   <div>superTelephoneNumber<input class="form-control" ng-model="form520.superTelephoneNumber" value="19"></div>
   <div>SuperFaxNumber<input class="form-control" ng-model="form520.SuperFaxNumber" value="20"></div>
   <div>SuperCellNumber<input class="form-control" ng-model="form520.SuperCellNumber" value="21"></div>
   <div>superemail<input class="form-control" ng-model="form520.superemail" value="22"></div>
   <div>Agencyuse<input class="form-control" ng-model="form520.Agencyuse" value="23"></div>
   <div>professional<input class="form-control" ng-model="form520.professional" type="checkbox"></div>
   <div>teaching<input class="form-control" ng-model="form520.teaching" type="checkbox"></div>
   <div>board<input class="form-control" ng-model="form520.board" type="checkbox"></div>
   <div>expert<input class="form-control" ng-model="form520.expert" type="checkbox"></div>
   <div>describe<input class="form-control" ng-model="form520.describe" value="24"></div>
   <div>selfemployed<input class="form-control" ng-model="form520.selfemployed" type="checkbox"></div>
   <div>self-employed<input class="form-control" ng-model="form520.self-employed" value="25"></div>
   <div>subjectmatter<input class="form-control" ng-model="form520.subjectmatter" type="checkbox"></div>
   <div>text<input class="form-control" ng-model="form520.text" type="checkbox"></div>
   <div>explain<input class="form-control" ng-model="form520.explain" value="26"></div>
   <div>outsideentity<input class="form-control" ng-model="form520.outsideentity" value="27"></div>
   <div>contactperson<input class="form-control" ng-model="form520.contactperson" value="28"></div>
   <div>outsidestreet<input class="form-control" ng-model="form520.outsidestreet" value="29"></div>
   <div>state<input class="form-control" ng-model="form520.state" value="30"></div>
   <div>ContactTelephoneNumber<input class="form-control" ng-model="form520.ContactTelephoneNumber" value="31"></div>
   <div>contacFaxNumber<input class="form-control" ng-model="form520.contacFaxNumber" value="32"></div>
   <div>ContactCellNumber<input class="form-control" ng-model="form520.ContactCellNumber" value="33"></div>
   <div>Email<input class="form-control" ng-model="form520.Email" value="34"></div>
   <div>location<input class="form-control" ng-model="form520.location" value="35"></div>
   <div>travelyes<input class="form-control" ng-model="form520.travelyes" type="checkbox"></div>
   <div>atownexp<input class="form-control" ng-model="form520.atownexp" type="checkbox"></div>
   <div>inkind<input class="form-control" ng-model="form520.inkind" type="checkbox"></div>
   <div>estamt<input class="form-control" ng-model="form520.estamt" value="36"></div>
   <div>travelno<input class="form-control" ng-model="form520.travelno" type="checkbox"></div>
   <div>periodcoveredfrom<input class="form-control" ng-model="form520.periodcoveredfrom" value="37"></div>
   <div>periodcoveredto<input class="form-control" ng-model="form520.periodcoveredto" value="38"></div>
   <div>hours<input class="form-control" ng-model="form520.hours" value="39"></div>
   <div>days<input class="form-control" ng-model="form520.days" value="40"></div>
   <div>weeks<input class="form-control" ng-model="form520.weeks" value="41"></div>
   <div>yesoutside<input class="form-control" ng-model="form520.yesoutside" type="checkbox"></div>
   <div>nooutside<input class="form-control" ng-model="form520.nooutside" type="checkbox"></div>
   <div>estimatenumber<input class="form-control" ng-model="form520.estimatenumber" value="42"></div>
   <div>yescomp<input class="form-control" ng-model="form520.yescomp" type="checkbox"></div>
   <div>nocomp<input class="form-control" ng-model="form520.nocomp" type="checkbox"></div>
   <div>fee<input class="form-control" ng-model="form520.fee" type="checkbox"></div>
   <div>honor<input class="form-control" ng-model="form520.honor" type="checkbox"></div>
   <div>retainer<input class="form-control" ng-model="form520.retainer" type="checkbox"></div>
   <div>salary<input class="form-control" ng-model="form520.salary" type="checkbox"></div>
   <div>advance<input class="form-control" ng-model="form520.advance" type="checkbox"></div>
   <div>royalty<input class="form-control" ng-model="form520.royalty" type="checkbox"></div>
   <div>stock<input class="form-control" ng-model="form520.stock" type="checkbox"></div>
   <div>stockopt<input class="form-control" ng-model="form520.stockopt" type="checkbox"></div>
   <div>nontravel<input class="form-control" ng-model="form520.nontravel" type="checkbox"></div>
   <div>otherspecify<input class="form-control" ng-model="form520.otherspecify" value="43"></div>
   <div>nontravelspec<input class="form-control" ng-model="form520.nontravelspec" value="44"></div>
   <div>compamt<input class="form-control" ng-model="form520.compamt" value="45"></div>
   <div>Payor<input class="form-control" ng-model="form520.Payor" value="46"></div>
   <div>fundyes<input class="form-control" ng-model="form520.fundyes" type="checkbox"></div>
   <div>fundno<input class="form-control" ng-model="form520.fundno" type="checkbox"></div>
   <div>fundsource<input class="form-control" ng-model="form520.fundsource" value="47"></div>
   <div>grantyes<input class="form-control" ng-model="form520.grantyes" type="checkbox"></div>
   <div>grantno<input class="form-control" ng-model="form520.grantno" type="checkbox"></div>
   <div>granteecontractyes<input class="form-control" ng-model="form520.granteecontractyes" value="48"></div>
   <div>additionalspace<input class="form-control" ng-model="form520.additionalspace" value="49"></div>
   <div>position<input class="form-control" ng-model="form520.position" type="checkbox"></div>
   <div>nature<input class="form-control" ng-model="form520.nature" value="50"></div>
   <div>relation<input class="form-control" ng-model="form520.relation" value="51"></div>
   <div>effect<input class="form-control" ng-model="form520.effect" value="52"></div>
   <div>assignments<input class="form-control" ng-model="form520.assignments" value="53"></div>
   <div>Date<input class="form-control" ng-model="form520.Date" value="54"></div>
   <div>superstatement<input class="form-control" ng-model="form520.superstatement" value="55"></div>
   <div>approve<input class="form-control" ng-model="form520.approve" type="checkbox"></div>
   <div>disapprove<input class="form-control" ng-model="form520.disapprove" type="checkbox"></div>
   <div>namereviewer<input class="form-control" ng-model="form520.namereviewer" value="56"></div>
   <div>titlereviewer<input class="form-control" ng-model="form520.titlereviewer" value="57"></div>
   <div>ReviewerTelephoneNumber<input class="form-control" ng-model="form520.ReviewerTelephoneNumber" value="58"></div>
   <div>ReviewerFaxNumber<input class="form-control" ng-model="form520.ReviewerFaxNumber" value="59"></div>
   <div>ReviewerCellNumber<input class="form-control" ng-model="form520.ReviewerCellNumber" value="60"></div>
   <div>revieweremail<input class="form-control" ng-model="form520.revieweremail" value="61"></div>
   <div>organization<input class="form-control" ng-model="form520.organization" value="62"></div>
   <div>committee<input class="form-control" ng-model="form520.committee" value="63"></div>
   <div>concur<input class="form-control" ng-model="form520.concur" type="checkbox"></div>
   <div>nonconcur<input class="form-control" ng-model="form520.nonconcur" type="checkbox"></div>
   <div>comments<input class="form-control" ng-model="form520.comments" value="64"></div>
   <div>nameagencyethics<input class="form-control" ng-model="form520.nameagencyethics" value="65"></div>
   <div>titleagencyethics<input class="form-control" ng-model="form520.titleagencyethics" value="66"></div>
   <div>AgencyEthicsTelephoneNumber<input class="form-control" ng-model="form520.AgencyEthicsTelephoneNumber" value="67"></div>
   <div>AgencyEthicsFaxNumber<input class="form-control" ng-model="form520.AgencyEthicsFaxNumber" value="68"></div>
   <div>AgencyEthicsCellNumber<input class="form-control" ng-model="form520.AgencyEthicsCellNumber" value="69"></div>
   <div>AgencyEthicsemail<input class="form-control" ng-model="form520.AgencyEthicsemail" value="70"></div>
   <div>requestapproved<input class="form-control" ng-model="form520.requestapproved" type="checkbox"></div>
   <div>conditions<input class="form-control" ng-model="form520.conditions" type="checkbox"></div>
   <div>requestdenied<input class="form-control" ng-model="form520.requestdenied" type="checkbox"></div>
   <div>nameagencydesignee<input class="form-control" ng-model="form520.nameagencydesignee" value="71"></div>
   <div>titleagencydesignee<input class="form-control" ng-model="form520.titleagencydesignee" value="72"></div>
   <div>DesigneeTelephone<input class="form-control" ng-model="form520.DesigneeTelephone" value="73"></div>
   <div>DesigneeFax<input class="form-control" ng-model="form520.DesigneeFax" value="74"></div>
   <div>DesigneeCell<input class="form-control" ng-model="form520.DesigneeCell" value="75"></div>
   <div>DesigneeEmail<input class="form-control" ng-model="form520.DesigneeEmail" value="76"></div>
   <div>approved<input class="form-control" ng-model="form520.approved" type="checkbox"></div>
   <div>denied<input class="form-control" ng-model="form520.denied" type="checkbox"></div>
   <div>specialconditions<input class="form-control" ng-model="form520.specialconditions" value="77"></div>
   <div>addspace<input class="form-control" ng-model="form520.addspace" value="78"></div>
   <div>addspacecont<input class="form-control" ng-model="form520.addspacecont" value="79"></div>
   <div>sourcecurrenta<input class="form-control" ng-model="form520.sourcecurrenta" value="80"></div>
   <div>activitycurrent<input class="form-control" ng-model="form520.activitycurrent" value="81"></div>
   <div>currentamt<input class="form-control" ng-model="form520.currentamt" value="82"></div>
   <div>currentdate<input class="form-control" ng-model="form520.currentdate" value="83"></div>
   <div>sourcecurrentb<input class="form-control" ng-model="form520.sourcecurrentb" value="84"></div>
   <div>activitycurrentb<input class="form-control" ng-model="form520.activitycurrentb" value="85"></div>
   <div>currentamtb<input class="form-control" ng-model="form520.currentamtb" value="86"></div>
   <div>currentdateb<input class="form-control" ng-model="form520.currentdateb" value="87"></div>
   <div>sourceonea<input class="form-control" ng-model="form520.sourceonea" value="88"></div>
   <div>activitytwoa<input class="form-control" ng-model="form520.activitytwoa" value="89"></div>
   <div>amtonea<input class="form-control" ng-model="form520.amtonea" value="90"></div>
   <div>Dateonea<input class="form-control" ng-model="form520.Dateonea" value="91"></div>
   <div>sourceoneb<input class="form-control" ng-model="form520.sourceoneb" value="92"></div>
   <div>activityoneb<input class="form-control" ng-model="form520.activityoneb" value="93"></div>
   <div>amtoneb<input class="form-control" ng-model="form520.amtoneb" value="94"></div>
   <div>Dateoneb<input class="form-control" ng-model="form520.Dateoneb" value="95"></div>
   <div>sourcetwoa<input class="form-control" ng-model="form520.sourcetwoa" value="96"></div>
   <div>amttwoa<input class="form-control" ng-model="form520.amttwoa" value="97"></div>
   <div>Datetwoa<input class="form-control" ng-model="form520.Datetwoa" value="98"></div>
   <div>sourcetwob<input class="form-control" ng-model="form520.sourcetwob" value="99"></div>
   <div>activitytwob<input class="form-control" ng-model="form520.activitytwob" value="100"></div>
   <div>amttwob<input class="form-control" ng-model="form520.amttwob" value="101"></div>
   <div>Datetwob<input class="form-control" ng-model="form520.Datetwob" value="102"></div>
   <div>sourcethreea<input class="form-control" ng-model="form520.sourcethreea" value="103"></div>
   <div>activitythreea<input class="form-control" ng-model="form520.activitythreea" value="104"></div>
   <div>amtthreea<input class="form-control" ng-model="form520.amtthreea" value="105"></div>
   <div>Datethreea<input class="form-control" ng-model="form520.Datethreea" value="106"></div>
   <div>sourcethreeb<input class="form-control" ng-model="form520.sourcethreeb" value="107"></div>
   <div>activitythreeb<input class="form-control" ng-model="form520.activitythreeb" value="108"></div>
   <div>amtthreeb<input class="form-control" ng-model="form520.amtthreeb" value="109"></div>
   <div>Datethreeb<input class="form-control" ng-model="form520.Datethreeb" value="110"></div>
   <div>sourcefoura<input class="form-control" ng-model="form520.sourcefoura" value="111"></div>
   <div>activityfoua<input class="form-control" ng-model="form520.activityfoua" value="112"></div>
   <div>amtfoura<input class="form-control" ng-model="form520.amtfoura" value="113"></div>
   <div>Datefoura<input class="form-control" ng-model="form520.Datefoura" value="114"></div>
   <div>sourcefourb<input class="form-control" ng-model="form520.sourcefourb" value="115"></div>
   <div>activityfourb<input class="form-control" ng-model="form520.activityfourb" value="116"></div>
   <div>amtfourb<input class="form-control" ng-model="form520.amtfourb" value="117"></div>
   <div>Datefourb<input class="form-control" ng-model="form520.Datefourb" value="118"></div>
   <div>sourcefivea<input class="form-control" ng-model="form520.sourcefivea" value="119"></div>
   <div>activityfivea<input class="form-control" ng-model="form520.activityfivea" value="120"></div>
   <div>amtfivea<input class="form-control" ng-model="form520.amtfivea" value="121"></div>
   <div>Datefivea<input class="form-control" ng-model="form520.Datefivea" value="122"></div>
   <div>sourcefiveb<input class="form-control" ng-model="form520.sourcefiveb" value="123"></div>
   <div>activityfiveb<input class="form-control" ng-model="form520.activityfiveb" value="124"></div>
   <div>amtfiveb<input class="form-control" ng-model="form520.amtfiveb" value="125"></div>
   <div>Datefiveb<input class="form-control" ng-model="form520.Datefiveb" value="126"></div>
   <div>sourcesixa<input class="form-control" ng-model="form520.sourcesixa" value="127"></div>
   <div>activitysixa<input class="form-control" ng-model="form520.activitysixa" value="128"></div>
   <div>amtsixa<input class="form-control" ng-model="form520.amtsixa" value="129"></div>
   <div>Datesixa<input class="form-control" ng-model="form520.Datesixa" value="130"></div>
   <div>sourcesixb<input class="form-control" ng-model="form520.sourcesixb" value="131"></div>
   <div>activitysixb<input class="form-control" ng-model="form520.activitysixb" value="132"></div>
   <div>amtsixb<input class="form-control" ng-model="form520.amtsixb" value="133"></div>
   <div>Datesixb<input class="form-control" ng-model="form520.Datesixb" value="134"></div>
   <div>attachone<input class="form-control" ng-model="form520.attachone" value="135"></div>
   <div>attachtwo<input class="form-control" ng-model="form520.attachtwo" value="136"></div>
   <div>attachfour<input class="form-control" ng-model="form520.attachfour" value="137"></div>
   <div>attachthree<input class="form-control" ng-model="form520.attachthree" value="138"></div>
   <div>attachfive<input class="form-control" ng-model="form520.attachfive" value="139"></div>
   <div>attachsix<input class="form-control" ng-model="form520.attachsix" value="140"></div>
   <div>attachseven<input class="form-control" ng-model="form520.attachseven" value="141"></div>
   <div>attacheight<input class="form-control" ng-model="form520.attacheight" value="142"></div>
   <div>attachnine<input class="form-control" ng-model="form520.attachnine" value="143"></div>
   <div>attachten<input class="form-control" ng-model="form520.attachten" value="144"></div>
</form>