<!DOCTYPE html>
<html lang="en">
<body>
<div id="AngularApp" style="display:none">
	<!-- application start -->
	<div class="main-container" data-ng-cloak data-ng-app="MainApp">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<pr-menu-main></pr-menu-main>
		<pr-page-header></pr-page-header>
		<section class="main-section">
			<div data-ng-view class="main-view"></div>
		</section>
		<pr-page-footer></pr-page-footer>
	</div>

	<!-- Modal -->
	<div id="newFormDialog" style="display:none; ">
		<select class="form-control" id="newFormSelection" style= "width:400px" >
			<option value="/form520">Request for Outside Activities (Form HHS-520)</option>
			<option value="/form521">Annual Report of Outside Activity (Form HHS-521)</option>
			<option value="/form348">Rquest to Accept Non Federal Payment for Travel (Form HHS-348)</option>
			<option value="/formwag">Widely Attended Gathering Form (WAG Form)</option>			
		</select>
	</div>

	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
	<script src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js'></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script src="js/lib/pdf.worker.min.js"></script>
	<script src="js/lib/pako.min.js"></script>
	<script src="js/lib/FileSaver.min.js"></script>
	<script src="js/lib/minipdf_js.js"></script>
	<script src="js/lib/pdfform.js<%= config.cacheBuster %>"></script>
    <script src="js/lib/sjcl.js"></script>
	
	
	<script src="js/lib/angular<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/angular<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/angular-animate<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/angular-resource<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/angular-route<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/angular-sanitize<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/ui-bootstrap-tpls<%= config.minSuffix %>.js<%= config.cacheBuster %>"></script>
	<script src="js/lib/loadingoverlay.min.js<%= config.cacheBuster %></script>
	<script src="<%= config.mainjs %><%= config.cacheBuster %>"></script>
	<!-- application end -->
</div>

<script>
 var _communicatorFlag = true;
</script>

</body>
</html>